.jimu-widget-customwidget .lati {
    color: red;
    font-size: larger;
}

.jimu-widget-customwidget .longi {
    color: blue;
    font-size: medium;
}

.jimu-widget-customwidget .zoomi {
    color: darkolivegreen;
    font-size: medium;
}